<h1>taz</h1>
<v-accordion class="vAccordion--default">
  <v-pane expanded>
    <v-pane-header>
      log in
    </v-pane-header>
    <v-pane-content>
      <form class="login" ng-submit=userCtrl.login()>
        <input type="text" ng-model="userCtrl.user.email" placeholder="email">
        <input type="password" ng-model="userCtrl.user.passwordDigest" placeholder="password">
        <input type="submit" value="Login">
      </form>
    </v-pane-content>
  </v-pane>
  <v-pane>
    <v-pane-header>
      create a new user
    </v-pane-header>
    <v-pane-content>
      <form class="new-doc" ng-submit="userCtrl.userSignUp()">
        <label for="email">Email</label>
        <input type="email"
               ng-model="userCtrl.user.email"
               id="email"
               placeholder="Your Email">
        </br>
        <label for="password">Password</label>
        <input type="password"
               ng-model="userCtrl.user.passwordDigest"
               id="password"
               placeholder="Enter a Password">
        </br>
        <label for="name">Name</label>
        <input type="text"
               ng-model="userCtrl.user.name"
               id="name"
               placeholder="First and Last Name">
        </br>
        <label for="Patient or Doctor?">Doctor or Patient?</label>
        <label for="Doctor">Doctor</label>
        <input type="radio"
               name="occupation"
               ng-model="userCtrl.user.doctor"
               id="Doctor"
               value="true">
       <label for="Patient">Patient</label>
        <input type="radio"
               name="occupation"
               ng-model="userCtrl.user.doctor"
               id="Patient"
               value="false">
        </br>
        <div class="doctor-form" ng-show="userCtrl.user.doctor == 'true'">
        <label for="specialty">Speciality</label>
        <input type="text"
               ng-model="userCtrl.user.specialty"
               id="specialty"
               placeholder="What type of doctor are you?">
        </br>
        <label for="hospital">Hospital</label>
        <input type="text"
               ng-model="userCtrl.user.hospital"
               id="hospital"
               placeholder="Where do you practice?">
        </div>
        <div class="patient-form" ng-if="userCtrl.user.doctor == 'false'")>
          <label for="age">Age</label>
          <input type="number"
                 ng-model="userCtrl.user.age"
                 id="age"
                 placeholder="How old are you?">
          </br>
          <label for="Gender">Gender</label>
          <label for="female">Female</label>
          <input type="radio"
                 name="gender"
                 ng-model="userCtrl.user.gender"
                 id="female"
                 value="female">
         <label for="male">Male</label>
          <input type="radio"
                 name="gender"
                 ng-model="userCtrl.user.gender"
                 id="male"
                 value="male">
          </br>
          <label for="height">Height</label>
          <input type="text"
                 ng-model="userCtrl.user.height"
                 id="height"
                 placeholder="How tall are you?">
          </br>
          <label for="weight">Weight</label>
          <input type="number"
                 ng-model="userCtrl.user.weight"
                 id="weight"
                 placeholder="How much do you weigh?">
          </br>
          <label for="bloodPressure">Blood Pressure</label>
          <input type="string"
                 ng-model="userCtrl.user.bloodPressure"
                 id="bloodPressure"
                 placeholder="What is your blood pressure?">
          <label for="familyHistory">Family Medical History</label>
          <input type="text"
                 ng-model="userCtrl.user.familyHistory"
                 id="familyHistory"
                 placeholder="Any inherited medical conditions?">
          </br>
          <label for="currentMedications">Current Medications</label>
          <input type="text"
                 ng-model="userCtrl.user.currentMedications"
                 id="currentMedications"
                 placeholder="Are you currently taking medication?">
        </div>
        <input type="submit" value="Create">
      </form>
    </v-pane-content>

</v-accordion>
