<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>taz</title>
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <h2>layout stuff</h2>
    <%- body %>
  </body>
</html>
