html {
  background: #ffcc80;
  color: #333;
}

body {
  background: #f1f1f1;
  text-align: center;
  margin-bottom: 2rem;
}

v-accordion {
/*margin: 10%, auto;*/
padding: 0;
}
table {
  margin: 0 auto;
}
th, td {
  padding: 0 2rem;
  text-align: center;
}

h1 {
  color: #f1f1f1;
  background: #333;
  font-size: 5rem;
}
h4 {
  margin-top: 1rem;
  margin-bottom: 0;
}

hr {
  width: 60%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#patient-accordion {
  height: 80%;
}
.button {
  margin-top: 1rem;
}
button {
  margin-top: 1rem;
}
.nav {
  margin-top: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}
.doctor-tile {
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 3px;
  border: 1px solid darkgray;
  display: inline-block;
}
input[type="radio"] {
  position: relative;
}
footer {
  position: absolute;
}
