html {
  background: #ffcc80;
  color: #333;
}

body {
  background: #f1f1f1;
  text-align: center;
  margin-bottom: 2rem;

}
v-accordion {
/*margin: 10%, auto;*/
padding: 0;
}

table {
  margin: 1.5rem auto;
}
th, td {
  padding: 0 2rem;
  text-align: center;
}

form {
  margin: 0 1rem;
}

h1 {
  color: #f1f1f1;
  background: #333;
  font-size: 5rem;
}
h4 {
  margin-top: 1rem;
  margin-bottom: 0;
}

hr {
  width: 60%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#patient-accordion {
  height: 80%;
}
.button {
  margin: 1rem 0;
}
.button:hover {
  transition: .5s;
  background: #333;
  color: #f1f1f1;
}
button {
  margin: 1rem 0;
}
button:hover {
  transition: .5s;
  background: #333;
  color: #f1f1f1;
}
input[type="submit"]:hover {
  transition: .5s;
  background: #333;
  color: #f1f1f1;
}
.nav {
  margin-top: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}
.doctor-tile {
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 3px;
  border: 1px solid darkgray;
  display: inline-block;
}
input[id=Doctor],
input[id=Patient]
 {
  display: none;
}
label[for=Doctor],
label[for=Patient]{
  border: 1px solid #333;
  background: #f1f1f1;
  display: inline-block;
  padding: 0.5rem;
}
input[id=male],
input[id=female],
label[for=female],
label[for=male] {
  display: inline-block;
}

footer {
  position: absolute;
}
