  <form class="new-record" action="/records/new" method="POST">
    <label for="date">Date</label>
    </br>
    <input type="date"
           name="record[date]"
           id="date">
     </br>
     <label for="body-system">Body System</label>
     </br>
     <input type="text"
            name="record[bodySystem]"
            id="body-system"
            placeholder="What part of the Body?">
     </br>
     <label for="description">Description</label>
     </br>
     <input type="text"
            name="record[description]"
            id="description"
            placeholder="What happened?">
     </br>
     <label for="treatment">Treatment</label>
     </br>
     <input type="text"
            name="record[treatment]"
            id="treatment"
            placeholder="How was it treated?">
   </form>
