  <!-- <form ng-controller="RecordController as record"
      ng-submit="record.create()" class="new-record" action="/record/new" method="POST">
     <label for="body-system">Body System</label>
     <input type="text"
            name="record[bodySystem]"
            id="body-system"
            placeholder="What part of the Body?">
     </br>
     <label for="description">Description</label>
     <input type="text"
            name="record[description]"
            id="description"
            placeholder="What happened?">
     </br>
     <label for="treatment">Treatment</label>
     <input type="text"
            name="record[treatment]"
            id="treatment"
            placeholder="How was it treated?">
     </br>
     <input type="submit" value="Save">
   </form> -->
{{2*2}}
