<h1>{{userCtrl.currentUser.name}}</h1>

<!-- this is the patient view -->
<table class="u-full-width" ng-show="userCtrl.currentUser.doctor == false">
  <thead>
    <tr>
      <th>Age</th>
      <th>Gender</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Blood Pressure</th>
      <th>Medications</th>
      <th>Family History</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{userCtrl.currentUser.age}}</td>
      <td>{{userCtrl.currentUser.gender}}</td>
      <td>{{userCtrl.currentUser.height}}</td>
      <td>{{userCtrl.currentUser.weight}}</td>
      <td>{{userCtrl.currentUser.bloodPressure}}</td>
      <td>{{userCtrl.currentUser.currentMedications}}</td>
      <td>{{userCtrl.currentUser.familyHistory}}</td>
    </tr>
  <tbody/>
<table/>
<v-accordion id="patient-accordion" class="vAccordion--default" ng-show="userCtrl.currentUser.doctor == false">
  <v-pane ng-repeat="record in userCtrl.currentUser.records track by $index">
    <v-pane-header>
      <h6> {{record.complaint}} -- {{record.date}} </h6>
    </v-pane-header>
    <v-pane-content>
      <p>
        {{record.bodySystem}} |
        {{record.description}} |
        {{record.treatment}} |
      </p>
    </v-pane-content>
  </v-pane>
  <v-pane>
    <v-pane-header>
      <h6> new record </h6>
    </v-pane-header>
    <v-pane-content>
      <a href='/records/new'>new record</a>
    </v-pane-content>
  </v-pane>
</v-accordion>
<div class="new-doctor-array">
  <button type="button" ng-click="userCtrl.findAllUsers()" ng-show="userCtrl.currentUser.doctor == false">Find a new Doctor</button>
  <div ng-repeat="doc in userCtrl.doctors track by $index" ng-click="userCtrl.addDoctor($index)" class="doctor-tile">
    {{doc.name}}
    {{doc.specialty}}
  </div>
</div>
<div class="doctor-array" ng-show="userCtrl.currentUser.doctor == false">
  <div class="doctor-tile" ng-repeat="doc in userCtrl.currentUser.doctors track by $index">
    {{doc.name}}
  </div>
</div>

<!-- this is the doctor view -->
<table class="u-full-width" ng-show="userCtrl.currentUser.doctor == true">
  <thead>
    <tr>
      <th>Hospital</th>
      <th>Sepcialty</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{userCtrl.currentUser.hospital}}</td>
      <td>{{userCtrl.currentUser.specialty}}</td>
    </tr>
  <tbody/>
<table/>
<v-accordion id="doctor-accordion" class="vAccordion--default" ng-show="userCtrl.currentUser.doctor == true">
  <v-pane ng-repeat="patient in userCtrl.currentUser.patients track by $index">
    <v-pane-header>
      <h6>{{patient.name}}</h6>
    </v-pane-header>
    <v-pane-content>
      <v-accordion id="doctor-sub-accordion" class="vAccordion--default">
        <v-pane>
          <v-pane-header>
            <h6> Patient information </h6>
          </v-pane-header>
          <v-pane-content>
            {{patient.age}}
            {{patient.gender}}
            {{patient.height}}
            {{patient.weight}}
            {{patient.bloodPressure}}
            {{patient.currentMedications}}
            {{patient.familyHistory}}
            {{patient.records}}
          </v-pane-content>
        </v-pane>
        <v-pane ng-repeat="record in userCtrl.currentUser.patients.records track by $index">
          <v-pane-header>
            <h6> {{record.complaint}} -- {{record.date}} </h6>
          </v-pane-header>
          <v-pane-content>
            <p>
              {{record.bodySystem}} |
              {{record.description}} |
              {{record.treatment}} |
            </p>
          </v-pane-content>
        </v-pane>
        <v-pane>
          <v-pane-header>
            <h6> Add a new record </h6>
          </v-pane-header>
          <v-pane-content>
            <form ng-submit="userCtrl.docRecord()" class="new-record">
               <label for="date">Date</label>
               <input type="date"
                      ng-model="userCtrl.record.date"
                      id="date"
                      placeholder="When did it happen?">
               <label for="complaint">Complaint</label>
               <input type="text"
                      ng-model="userCtrl.record.complaint"
                      id="complaint"
                      placeholder="What is wrong?">
               </br>
               <label for="body-system">Body System</label>
               <input type="text"
                      ng-model="userCtrl.record.bodySystem"
                      id="body-system"
                      placeholder="What part of the Body?">
               </br>
               <label for="description">Description</label>
               <input type="text"
                      ng-model="userCtrl.record.description"
                      id="description"
                      placeholder="Further Details?">
               </br>
               <label for="treatment">Treatment</label>
               <input type="text"
                      ng-model="userCtrl.record.treatment"
                      id="treatment"
                      placeholder="How was it treated?">
               </br>
               <input type="submit" value="Save">
             </form>
          </v-pane-content>
        </v-pane>
      </v-accordion>
    </v-pane-content>
  </v-pane>
</v-accordion>
