<h1>{{userCtrl.currentUser.name}}</h1>
<table class="u-full-width" ng-show="userCtrl.currentUser.doctor == false">
  <thead>
    <tr>
      <th>Age</th>
      <th>Gender</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Blood Pressure</th>
      <th>Medications</th>
      <th>Family History</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{userCtrl.currentUser.age}}</td>
      <td>{{userCtrl.currentUser.gender}}</td>
      <td>{{userCtrl.currentUser.height}}</td>
      <td>{{userCtrl.currentUser.weight}}</td>
      <td>{{userCtrl.currentUser.bloodPressure}}</td>
      <td>{{userCtrl.currentUser.currentMedications}}</td>
      <td>{{userCtrl.currentUser.familyHistory}}</td>
    </tr>
  <tbody/>
<table/>
<table class="u-full-width" ng-show="userCtrl.currentUser.doctor == true">
  <thead>
    <tr>
      <th>Hospital</th>
      <th>Sepcialty</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{userCtrl.currentUser.hospital}}</td>
      <td>{{userCtrl.currentUser.specialty}}</td>
    </tr>
  <tbody/>
<table/>
<v-accordion class="vAccordion--default" ng-show="userCtrl.currentUser.doctor == false">
  <v-pane ng-repeat="record in userCtrl.currentUser.records">
    <v-pane-header>
      {{record.complaint}} -- {{record.date}}
    </v-pane-header>
    <v-pane-content>
      {{record.bodySystem}}
      {{record.description}}
      {{record.treatment}}
    </v-pane-content>
  </v-pane>
  <v-pane>
    <v-pane-header>
      new record
    </v-pane-header>
    <v-pane-content>
      <a href='/records/new'>new record</a>
    </v-pane-content>
  </v-pane>
</v-accordion>
