<h1>{{userCtrl.currentUser.name}}</h1>
<!-- this is the patient view -->
<div class="nav-panel" ng-controller="navController as navCtrl">
  <button class="nav" type="button" name="button" ng-click="navCtrl.changePane(1)">Information</button>
  <button class="nav" type="button" name="button" ng-click="navCtrl.changePane(2)">Records</button>
  <button class="nav" type="button" name="button" ng-click="navCtrl.changePane(3)">Doctors</button>

<section id="patient-info" ng-show="navCtrl.setPane(1)">
<h4 ng-show="userCtrl.currentUser.doctor == false">Your information</h4>
<table  ng-show="userCtrl.currentUser.doctor == false">
  <thead>
    <tr>
      <th>Age</th>
      <th>Gender</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Blood Pressure</th>
      <th>Medications</th>
      <th>Family History</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td ng-bind="userCtrl.currentUser.age"></td>
      <td ng-bind="userCtrl.currentUser.gender"></td>
      <td ng-bind="userCtrl.currentUser.height"></td>
      <td ng-bind="userCtrl.currentUser.weight"></td>
      <td ng-bind="userCtrl.currentUser.bloodPressure"></td>
      <td ng-bind="userCtrl.currentUser.currentMedications"></td>
      <td ng-bind="userCtrl.currentUser.familyHistory"></td>
    </tr>
  </tbody>
</table>
</section>
<section id="patient-records" ng-show="navCtrl.setPane(2)">
<h4 ng-show="userCtrl.currentUser.doctor == false">Your Records</h4>
<v-accordion id="patient-accordion" class="vAccordion--default" ng-show="userCtrl.currentUser.doctor == false">
  <v-pane ng-repeat="record in userCtrl.currentUser.records track by $index">
    <v-pane-header>
      <p> {{record.complaint}} -- {{record.date | date:'MM/dd/yyyy'}} </p>
    </v-pane-header>
    <v-pane-content>
      <div class="row">
        <div class="one-third column">
          <strong>Body System</strong>
        </div>
        <div class="one-third column">
          <strong>Description of incident</strong>
        </div>
        <div class="one-third column">
          <strong>Treatment</strong>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="one-third column" ng-bind="record.bodySystem"></div>
        <div class="one-third column" ng-bind="record.description"></div>
        <div class="one-third column" ng-bind="record.treatment"></div>
      </div>
    </v-pane-content>
  </v-pane>
</v-accordion>
<a class="button" href='/records/new'>new record</a>
</section>
<section id="paient-doctors" ng-show="navCtrl.setPane(3)" >
<div class="doctors">
  <h4 ng-show="userCtrl.currentUser.doctor == false">Your Doctors</h4>
  <div class="doctor-tile" ng-repeat="doc in userCtrl.currentUser.doctors track by $index">
    {{doc.name}}
  </div>
</div>
<hr>
<div class="new-doc" ng-show="userCtrl.currentUser.doctor == false">
  <div ng-repeat="doc in userCtrl.doctors track by $index" ng-click="userCtrl.addDoctor($index)" class="doctor-tile">
    {{doc.name}}
    {{doc.specialty}}
  </div>
</br>
  <button type="button" ng-click="userCtrl.findAllUsers()" ng-show="userCtrl.currentUser.doctor == false">Find a new Doctor</button>
</div>
</section>
</div>
<!-- this is the doctor view -->
<table ng-show="userCtrl.currentUser.doctor == true">
  <thead>
    <tr>
      <th>Hospital</th>
      <th>Sepcialty</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{userCtrl.currentUser.hospital}}</td>
      <td>{{userCtrl.currentUser.specialty}}</td>
    </tr>
  <tbody/>
<table/>
<v-accordion id="doctor-accordion" class="vAccordion--default" ng-show="userCtrl.currentUser.doctor == true">
  <v-pane ng-repeat="patient in userCtrl.currentUser.patients track by $index">
    <v-pane-header>
      <h4>{{patient.name}}</h4>
    </v-pane-header>
    <v-pane-content>
      <v-accordion class="doctor-sub-accordion" class="vAccordion--default">
        <v-pane>
          <v-pane-header>
            <h5>Patient information</h5>
          </v-pane-header>
          <v-pane-content>
            {{patient.age}}
            {{patient.gender}}
            {{patient.height}}
            {{patient.weight}}
            {{patient.bloodPressure}}
            {{patient.currentMedications}}
            {{patient.familyHistory}}
          </v-pane-content>
        </v-pane>
        <v-pane ng-repeat="record in patient.records track by $index">
          <v-pane-header>
            <h6>Patient Records</h6>
          </v-pane-header>
          <v-pane-content>
            <v-accordion class="doctor-sub-sub" class="vAccordion--default">
              <v-pane>
                <v-pane-header>
                  <h6> {{record.complaint}} -- {{record.date}} </h6>
                </v-pane-header>
                <v-pane-content>
                  <p>
                    {{record.bodySystem}} |
                    {{record.description}} |
                    {{record.treatment}} |
                  </p>
                </v-pane-content>
              </v-pane>
          </v-accordion>
          </v-pane-content>
        </v-pane>
        <v-pane>
          <v-pane-header>
            <h6> Add a new record </h6>
          </v-pane-header>
          <v-pane-content>
            <form ng-submit="userCtrl.docRecord()" class="new-record">
               <label for="date">Date</label>
               <input type="date"
                      ng-model="userCtrl.record.date"
                      id="date"
                      placeholder="When did it happen?">
               <label for="complaint">Complaint</label>
               <input type="text"
                      ng-model="userCtrl.record.complaint"
                      id="complaint"
                      placeholder="What is wrong?">
               </br>
               <label for="body-system">Body System</label>
               <input type="text"
                      ng-model="userCtrl.record.bodySystem"
                      id="body-system"
                      placeholder="What part of the Body?">
               </br>
               <label for="description">Description</label>
               <input type="text"
                      ng-model="userCtrl.record.description"
                      id="description"
                      placeholder="Further Details?">
               </br>
               <label for="treatment">Treatment</label>
               <input type="text"
                      ng-model="userCtrl.record.treatment"
                      id="treatment"
                      placeholder="How was it treated?">
               </br>
               <input type="submit" value="Save">
             </form>
          </v-pane-content>
        </v-pane>
      </v-accordion>
    </v-pane-content>
  </v-pane>
</v-accordion>
